<!doctype html>
<html>
<head>
    <title>BeeSAIve</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/solar/bootstrap.min.css" integrity="undefined" crossorigin="anonymous">
<body >
<div id="maintext"
     style="position:absolute; margin:auto; width:700px; height:200px; text-align:center; top:0; bottom: 0; left: 0; right: 0;">
    <h1 class="text-light mb-2"> Que será ....? Abeja, avispa, otro insecto u otra cosa ? </h1>
    <h4 class="text-light mb-5">(Sube una foto para averiguarlo )</h4>
    <form method=post enctype=multipart/form-data>
        <p class="text-light">
            <input type=file name=file>
            <input type=submit value=Upload>
        </p>
    </form>
</div>
</body>
</html>